.container {
    style="width:500px; height: fit-content; background-color: aliceblue; border-radius: 25px; border: solid 2px rgba(0, 47, 255, 0.888); margin: 20px; padding: 40px">
}

span {
    color: navy;
}